{% extends 'shared/base.html' %}
{% block content %}
<div class="card p-4 shadow-sm">
    <h2>Teams</h2>
    <form method="get" class="mb-3">
        <select name="sort" class="form-select mb-2">
            <option value="">Sort By</option>
            <option value="name">Name</option>
            <option value="city">City</option>
            <option value="year">Year Founded</option>
        </select>

        <button type="submit" class="btn btn-primary">Filter</button>
    </form>
    <ul class="list-group">
        {% for team in teams %}
            <li class="list-group-item">
                <a href="{% url 'teams:details' team.pk %}" class="text-dark">{{ team.name }} (City: {{ team.city }}, Year Founded: {{ team.year_founded }})</a>
            </li>
        {% empty %}
            <li class="list-group-item">No teams found.</li>
        {% endfor %}
    </ul>
    <div class="mt-3">
        {% if teams.has_previous %}
         <a href="?sort={{ request.GET.sort }}&page=1" class="btn btn-outline-secondary btn-sm">First</a>
         <a href="?sort={{ request.GET.sort }}&page={{ teams.previous_page_number }}" class="btn btn-outline-secondary btn-sm">Previous</a>
        {% endif %}

        <span class="mx-2">
            Page {{ teams.number }} of {{ teams.paginator.num_pages }}
        </span>

        {% if teams.has_next %}
        <a href="?sort={{ request.GET.sort }}&page={{ teams.next_page_number }}" class="btn btn-outline-secondary btn-sm">Next</a>
        <a href="?sort={{ request.GET.sort }}&page={{ teams.paginator.num_pages }}" class="btn btn-outline-secondary btn-sm">Last</a>
        {% endif %}
    </div>
</div>
{% endblock %}

