body{
    font-family: 'Trebuchet MS',sans-serif;
    background-color: #0d1b2a;
    color: white;
    margin: 0;
}


.navbar{
    background : #1b263b;
    padding: 15px 40px;

    display: grid;
    grid-template-columns: 1fr auto 1fr;;
    align-items: center;
}

.navbar a{
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.navbar a:hover{
    color: #f1c40f;
}
.nav-left{
    justify-self: start;
}

.navbar img{
    width: 90%;
    margin : auto;
}

.nav-center img{
    height: 180px;
    width: auto;
}
.nav-center{
    justify-self: center;
}

.nav-right{
    justify-self: end;
    display: flex;
    gap: 20px;
}

.team-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(180px,1fr));
    gap: 30px;
    margin-top: 40px;
    text-align: center;
}

.team-card img{
    width: 120px;
    height: 120px;
    object-fit: contain;
}

.games-section{
    margin-top: 60px;
}

.game-card{
    background: #1b263b;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.player-card{
    display: flex;
    align-items: center;
    background: #1b263b;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}


.player-card img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 15px;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: #f1c40f;
}

.team-card a{
    color: white;
    font-weight: 600;
}