body{
    font-family: 'Trebuchet MS',sans-serif;
    background-color: #0d1b2a;
    color: white;
    margin: 0;
}


.navbar{
    background : #1b263b;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar img{
    width: 90%;
    margin : auto;
}

.team-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-top: 40px;
    text-align: center;
}

.team-card img{
    width: 120px;
    height: 120px;
    object-fit: contain;
}

.games-section{
    margin-top: 60px;
}

.game-card{
    background: #1b263b;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.player-card{
    display: flex;
    align-items: center;
    background: #1b263b;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}


.player-card img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 15px;
}