{% extends 'shared/base.html' %}
{% load static %}

{% block content %}
<h2>Welcome to the Basketball League</h2>

<h3>Teams</h3>
<div class ="row row-cols-1 row-cols-md-3 g-4">
    {% for team in teams %}
    <div class="team-card">
        <a href="{% url 'teams:details' team.pk %}">
            {% if team.logo %}
                <img src="{{ team.logo.url }}" alt="{{ team.name }}">
            {% endif %}
            <p>{{ team.name }}</p>
        </a>
    </div>
    {% endfor %}
</div>

<h3>Played Games</h3>
<div class ="games-section">
    {% for game in games %}
    <div class="game-card">
        <strong>{{ game.home_team.name }}</strong>
        {% if game.home_team.logo %}
            <img src="{{ game.home_team.logo.url }}" width="40">
        {% endif %}
        <a href="{% url 'games:details' game.pk %}">
            {{ game.home_score }} : {{ game.away_score }}
        </a>

        {% if game.away_team.logo %}
            <img src="{{ game.away_team.logo.url }}" width="40">
        {% endif %}

        <strong>{{ game.away_team.name }}</strong>

        <div>{{ game.date }}
    </div>
    {% endfor %}
</div>
{% endblock %}