{% load static %}

<nav class="navbar">
    <div class = "nav-left">
    <a href="{% url 'common:home' %}">Home</a>
    </div>

    <div class = "nav-center">
        <img src="{% static 'images/site/logo.png' %}" alt="logo">
    </div>

    <div class = "nav-right">
        <a class="add-btn" href="{% url 'common:award_add' %}">Add Award</a>
        <a href="{% url 'teams:add' %}">Add Team</a>
        <a href="{% url 'players:add' %}">Add Player</a>
        <a href="{% url 'games:add' %}">Add Game</a>
        <a href="{% url 'players:list' %}">Players</a>
        <a href="{% url 'teams:list' %}">Teams</a>
        <a href="{% url 'games:list' %}">Games</a>
    </div>
</nav>